
.page-main {
    width: 1000px;
    margin: 20px auto;
}

.title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.nav li {
    list-style: none;
    float: left;
    margin-left: 10px;
}

.nav li a {
    text-decoration: none;
    padding: 3px 2px;
}

.nav li a:hover {
    background: #ccc;
}

.back-link {
    text-align: right;
    margin: 10px 100px 0 0;
}
.back-link a {
    text-decoration: none;
}
